<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"name="viewport"><meta content="周琛，湖北师范大学大三在校生的个人学习记录平台，记录平常学习的点点滴滴。 没有收拾残局的能力，就别放纵善变的情绪。山有封顶，还有彼岸，慢慢长途，终有回转，余味苦涩，终有回甘。"name="description"/><meta content="个人学习 记录平台 周琛 周琛的个人博客  博客  前端工程师 全栈 网页开发者 网页开发"name="keywords"/><link href="/less/index.less"rel="stylesheet"type="text/less">{{block'style'}}{{/block}}<link href="/images/favicon.png"rel="icon"type="image/x-icon"><link href="/css/iconfont/iconfont.css"rel="stylesheet"><script src="/lib/less/less.min.js"></script><title>{{block'title'}}{{/block}}</title></head><body><div id="zc_BiggestBox">{{block'newpart'}}{{/block}}<div class="bg-container">{{include'../parties/index_header.html'}}{{block'body'}}{{/block}}{{include'../parties/The_sidebar.html'}}{{include'../parties/public_footer.html'}}
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/main.js"></script>
{{block'script'}}{{/block}}</body></html>
