<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    {{block'description&keywords'}}{{/block}}

    <link rel="stylesheet" type="text/less" href="/less/blog.less">
    {{block'style'}}{{/block}}
    <link rel="icon" href="/images/iconblog.png" type="image/x-icon">
    <link href="/css/iconfont/iconfont.css" rel="stylesheet">
    <script src="/lib/less/less.min.js"></script>
    <title>{{block'title'}}{{/block}}</title></head>
<body>{{block'newpart'}}{{/block}}
<div class="bg-container">
    {{include'../parties/blog_header.html'}}{{include'../parties/The_sidebar.html'}}{{block'body'}}{{/block}}{{include'../parties/public_footer.html'}}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/main.js"></script>
<script src="/lib/ColorfulBubble/ColorfulBubble.js"></script>
<script type="text/javascript">
    function __init__() {
        initColorfulBubble();
    }
    __init__()
    function initColorfulBubble() {
        new ColorfulBubble({
            container: '#color-bubble-wrapper',
            cvsWidth: window.innerWidth,
            cvsHeight: window.innerHeight,
            cvsBgColor: '#fff',
            bubbleScaleRange: {
                min: 1,
                max: 2,
            },
            bubbleNum: 200,
        });
    }


    $(document).ready(function () {
    (function ($) {
        'use strict';
        window.scrollReveal = new scrollReveal({reset: true, move: '50px'})
    })()
});</script>
{{block'script'}}{{/block}}
</body>
</html>
