<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="周琛的个人博客" name="description"/>
    <meta content="blog - 周琛 周琛的个人博客 移动端博客 博客 湖北师范大学 湖北师范大学前端 前端工程师" name="keywords"/>
    <link href="/less/index.less" rel="stylesheet" type="text/less">
    {{block'style'}}{{/block}}
    <link href="/images/favicon.png" rel="icon" type="image/x-icon">
    <link href="/css/iconfont/iconfont.css" rel="stylesheet">
    <script src="/lib/less/less.min.js"></script>
    <title>{{block'title'}}{{/block}}</title></head>
<body>
<div id="zc_BiggestBox">{{block'newpart'}}{{/block}}
    <div class="bg-container">
        {{include'../parties/index_header.html'}}{{block'body'}}{{/block}}{{include'../parties/The_sidebar.html'}}{{include'../parties/public_footer.html'}}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/main.js"></script>
{{block'script'}}{{/block}}
</body>
</html>
