{{extend './layouts/layout-blog.html'}}
{{block 'title'}}category 分类{{/block}}
{{block 'style'}}<link rel="stylesheet" href="/css/preloader/mainload.css">{{/block}}
{{block 'body'}}
<div class="load">
    <img src="http://static.zxinc520.com/blog/20190422/HFaYW4FkHC1S.gif" alt="">
</div>
    {{include './parties/category/Category-part.html'}}
    {{include './parties/Recommend/index_list.html'}}
{{/block}}
{{block 'script'}}
<script>
    document.addEventListener('DOMContentLoaded',function () {
        $(".load").fadeOut(800);
    })
</script>
{{/block}}
