{{extend './layouts/layout.html'}}
{{block 'title'}}Change World{{/block}}
{{block 'body'}}
<div class="main_Navigation">
    <div class="main_Navigation_nav">
        <div class="Recommend">
            {{include './parties/Recommend/banner.html'}}
            {{include './parties/Recommend/nav.html'}}
            {{include './parties/Recommend/index_list.html'}}
        </div>
        <div class="Dynamic">
            <h1>Dynamicsadsadsadsadsad</h1>
        </div>
        <div class="School">
            <h1>School</h1>
        </div>
    </div>
</div>
{{/block}}

{{block 'script'}}
<script src="/js/banner.js"></script>
<script src="/js/sideBar.js"></script>
<script src="/js/main_Navigation.js"></script>
{{/block}}
