<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>可爱的小菊子</title>
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"name="viewport">
    <meta name="description" content="送给最好看的小菊子"/>
    <meta name="keywords" content="小菊子 LOVE 李二傻"/>
    <link rel="icon" href="/images/iconblog.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/love/zclovelcj.css">

</head>
<body>
<div id="lovebox">
    <header>
        <div class="box">
            <ul>
                <li><img src="http://static.zxinc520.com/blog/20190729/VOPFwXf3xLIs.jpg?imageslim" alt=""></li>
                <li><img src="http://static.zxinc520.com/blog/20190729/m2l8GtAyj9LO.jpg?imageslim" alt=""></li>
                <li><img src="http://static.zxinc520.com/blog/20190729/cAOui2ODBds3.jpg?imageslim" alt=""></li>
                <li><img src="http://static.zxinc520.com/blog/20190729/U1g7ClGVOJpR.jpg?imageslim" alt=""></li>
                <li><img src="http://static.zxinc520.com/blog/20190729/Xnt3YFH0juS2.jpg?imageslim" alt=""></li>
                <li><img src="http://static.zxinc520.com/blog/20190729/q1fxrUiiY96C.jpg?imageslim" alt=""></li>

                <li><img src="http://static.zxinc520.com/blog/20190729/VOPFwXf3xLIs.jpg?imageslim" alt=""></li>
                <li><img src="http://static.zxinc520.com/blog/20190729/m2l8GtAyj9LO.jpg?imageslim" alt=""></li>
                <li><img src="http://static.zxinc520.com/blog/20190729/cAOui2ODBds3.jpg?imageslim" alt=""></li>
                <li><img src="http://static.zxinc520.com/blog/20190729/U1g7ClGVOJpR.jpg?imageslim" alt=""></li>
                <li><img src="http://static.zxinc520.com/blog/20190729/Xnt3YFH0juS2.jpg?imageslim" alt=""></li>
                <li><img src="http://static.zxinc520.com/blog/20190729/q1fxrUiiY96C.jpg?imageslim" alt=""></li>

            </ul>
        </div>
    </header>


    <div class="xuanzhuanwall">
        <div id="drag-container">
            <div id="spin-container">
                <!-- Add your images (or video) here -->
                <img src="http://static.zxinc520.com/blog/20190729/m2l8GtAyj9LO.jpg?imageslim" alt="好看的小菊子">
                <img src="http://static.zxinc520.com/blog/20190729/cAOui2ODBds3.jpg?imageslim" alt="傻傻的小菊子">
                <img src="http://static.zxinc520.com/blog/20190729/P4IWPHbnvq64.jpg?imageslim" alt="憨憨的小菊子">
                <img src="http://static.zxinc520.com/blog/20190729/tlbpTGp6hnUF.jpg?imageslim" alt="可爱的小菊子">
                <img src="http://static.zxinc520.com/blog/20190730/wuwG9UjmE5CQ.jpg?imageslim" alt="就是有点傻！">
                <img src="http://static.zxinc520.com/blog/20190730/pMPmQ4MWlyr1.jpg?imageslim" alt="嘻嘻嘻！">


                <video controls>
                    <source src="http://static.zxinc520.com/faceu_20190613113049.mp4" type="video/mp4">
                </video>

                <!-- Text at center of ground -->
                <p>ZC LOVE LiChunJu</p>
            </div>
            <div id="ground"></div>
        </div>

        <div id="music-container"></div>


    </div>

    <div class="photo_wall">
        <h3>照片墙</h3>
        <ul>
            <li><img src="http://static.zxinc520.com/blog/20190729/VOPFwXf3xLIs.jpg?imageslim" alt="可爱的小菊子"></li>
            <li><img src="http://static.zxinc520.com/blog/20190729/cAOui2ODBds3.jpg?imageslim" alt="好看的小菊子"></li>
            <li><img src="http://static.zxinc520.com/blog/20190729/m2l8GtAyj9LO.jpg?imageslim" alt="傻傻的小菊子"></li>
            <li><img src="http://static.zxinc520.com/blog/20190729/QXGBuQ5kzdAa.jpg?imageslim" alt="天真的小菊子"></li>
            <li><img src="http://static.zxinc520.com/blog/20190729/P4IWPHbnvq64.jpg?imageslim" alt="啥都不知道的小菊子"></li>
            <li><img src="http://static.zxinc520.com/blog/20190729/XjhYtEqeJUEp.jpg?imageslim" alt="憨憨的小菊子"></li>

            <li><img src="http://static.zxinc520.com/blog/20190729/zJY61Iq0NJP2.jpg?imageslim" alt="可爱的小菊子"></li>
            <li><img src="http://static.zxinc520.com/blog/20190729/VcmJNt3mXdra.jpg?imageslim" alt="白白的小菊子"></li>
            <li><img src="http://static.zxinc520.com/blog/20190729/tR7Y0f505Lxn.jpg?imageslim" alt="可爱的小菊子"></li>

            <li><img src="http://static.zxinc520.com/blog/20190729/Tuf6hoqf6GQl.png?imageslim" alt="可爱的小菊子"></li>
            <li><img src="http://static.zxinc520.com/blog/20190729/tlbpTGp6hnUF.jpg?imageslim" alt="傻傻的小菊子"></li>
            <li><img src="http://static.zxinc520.com/blog/20190729/mGjkuShIhUGH.jpg?imageslim" alt="白白的小菊子"></li>

            <li><img src="http://static.zxinc520.com/blog/20190729/jCtMtWt4ajbK.jpg?imageslim" alt="傻傻的小菊子"></li>
            <li><img src="http://static.zxinc520.com/blog/20190729/rjoVVkIKRQI2.jpg?imageslim" alt="傻傻的小菊子"></li>

            <li><img src="http://static.zxinc520.com/blog/20190730/3oQYKz71TfX0.jpg?imageslim" alt="黑黑的李二傻"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/wSutqJyy4kKl.jpg?imageslim" alt="可爱的小菊子"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/DN29b99zBQqD.jpg?imageslim" alt="黑黑的李二傻"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/qewCa8ojcNXm.jpg?imageslim" alt="黑黑的李二傻"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/A5nH39F9pOhU.jpg?imageslim" alt="傻傻的小菊子"></li>

            <li><img src="http://static.zxinc520.com/blog/20190730/wuwG9UjmE5CQ.jpg?imageslim" alt="傻傻的小菊子"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/VWNVOMF8sqlA.gif" alt="小脸"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/eLL0aBvMIVdc.gif" alt="嘿嘿！"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/DcNlN7K2KKxd.jpg?imageslim" alt="白白的小菊子"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/JHalBhdBn7Lw.jpg?imageslim" alt="小脸"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/IGLpCokAWEKl.jpg?imageslim" alt="胖"></li>

            <li><img src="http://static.zxinc520.com/blog/20190730/bIu4y7gyU93e.jpg?imageslim" alt="应该很轻吧"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/EpYle1ylQKDR.jpg?imageslim" alt="黑黑的李二傻"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/KppRP9FWyRtY.jpg?imageslim" alt="好看的小菊子"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/0e8E5bb4AReQ.jpg?imageslim" alt="好看的小菊子"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/7PGRBFXkQFej.jpg?imageslim" alt="傻傻的小菊子"></li>

            <li><img src="http://static.zxinc520.com/blog/20190730/tHLbmaeESUXp.jpg?imageslim" alt="憨憨的小菊子"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/7cQ7sXiecg0E.jpg?imageslim" alt="应该很轻吧"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/qJ22rFbAxrxq.jpg?imageslim" alt=""></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/sBYlKyhJp4mh.jpg?imageslim" alt="憨憨的小菊子"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/v7J2TjxcvBf6.jpg?imageslim" alt="好看的小菊子"></li>

            <li><img src="http://static.zxinc520.com/blog/20190730/yvhumHGIU4Xx.jpg?imageslim" alt="不要太重哦！"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/WEGkcEyH5YeW.jpg?imageslim" alt="应该很轻吧"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/EcD58UOrQXhl.jpg?imageslim" alt=""></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/bcBM9rbGTtxM.jpg?imageslim" alt="不要太重哦！"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/SGPq2jdMIfeK.jpg?imageslim" alt="憨憨的小菊子"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/pMPmQ4MWlyr1.jpg?imageslim" alt="好看的小菊子"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/KE9opLygqw4U.jpg?imageslim" alt="憨憨的小菊子"></li>

            <li><img src="http://static.zxinc520.com/blog/20190730/YisFdljBvmwf.jpg?imageslim" alt="憨憨的小菊子"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/6yCle4BVyXqW.jpg?imageslim" alt="应该很轻吧"></li>

            <li><img src="http://static.zxinc520.com/blog/20190730/YQu3wyjs8dX5.jpg?imageslim" alt="傻傻的小菊子"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/a7w1oKVgh7VG.jpg?imageslim" alt="憨憨的小菊子"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/j9RcIA4Ido7N.jpg?imageslim" alt="憨憨的小菊子"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/lUoIlbP49Url.png?imageslim" alt="不要太重哦！"></li>
            <li><img src="http://static.zxinc520.com/blog/20190730/elkBErrUxXuC.jpg?imageslim" alt="应该很轻吧"></li>

            <li><img src="http://static.zxinc520.com/blog/20190730/IRvJoveGbJCy.jpg?imageslim" alt="傻傻的小菊子"></li>

        </ul>
    </div>
</div>




<div class="Video_wall">
    <h3>二傻子的视频</h3>
    <ul>
        <li> <video controls loop poster="http://static.zxinc520.com/blog/20190730/HD4F6iOb4eUG.png?imageslim">
            <source src="http://static.zxinc520.com/faceu_20190613113049.mp4" type="video/mp4">
        </video></li>
        <li> <video controls  loop poster="http://static.zxinc520.com/blog/20190730/bWBDasLoar3T.png?imageslim">
            <source src="http://static.zxinc520.com/faceu_8002486_20190613113117.mp4" type="video/mp4">
        </video></li>
        <li> <video controls  loop poster="http://static.zxinc520.com/blog/20190730/VsauqV0eLAgU.png?imageslim">
            <source src="http://static.zxinc520.com/faceu_8003177_20190706101143.mp4" type="video/mp4">
        </video></li>
        <li> <video controls  loop poster="http://static.zxinc520.com/blog/20190730/JJvpLg0Sem0N.png?imageslim">
            <source src="http://static.zxinc520.com/faceu_8000899_20190706102117.mp4" type="video/mp4">
        </video></li>
        <li> <video controls loop poster="http://static.zxinc520.com/blog/20190730/B2takd4M2y1w.png?imageslim">
            <source src="http://static.zxinc520.com/faceu_20190706102252.mp4" type="video/mp4">
        </video></li>
        <li> <video controls loop poster="http://static.zxinc520.com/blog/20190730/fUGROR2f36BN.png?imageslim">
            <source src="http://static.zxinc520.com/faceu_8003177_20190706101354.mp4" type="video/mp4">
        </video></li>
        <li> <video controls loop poster="http://static.zxinc520.com/blog/20190730/1ygwjh1glLYg.png?imageslim">
            <source src="http://static.zxinc520.com/faceu_8001959_20190706113920.mp4" type="video/mp4">
        </video></li>
    </ul>
</div>

<div id="image-cover-modal" class="image-cover-modal">
    <img id="image-cover-image" class="image-cover-modal-content">
    <div id="image-cover-caption"></div>
</div>

<script>
    // Author: Hoang Tran (https://www.facebook.com/profile.php?id=100004848287494)
    // Github verson (1 file .html): https://github.com/HoangTran0410/3DCarousel/blob/master/index.html


    // You can change global variables here:
    var radius = 240; // how big of the radius
    var autoRotate = true; // auto rotate or not
    var rotateSpeed = -60; // unit: seconds/360 degrees
    var imgWidth = 120; // width of images (unit: px)
    var imgHeight = 170; // height of images (unit: px)

    // Link of background music - set 'null' if you dont want to play background music
    var bgMusicURL = 'http://static.zxinc520.com/%E5%91%A8%E6%B7%B1%20-%20%E4%BA%B2%E7%88%B1%E7%9A%84%E6%97%85%E4%BA%BA%E5%95%8A%EF%BC%88Cover%EF%BC%9A%E6%9C%A8%E6%9D%91%E5%BC%93%EF%BC%89.mp3';
    var bgMusicControls = false; // Show UI music control

    /*
         NOTE:
           + imgWidth, imgHeight will work for video
           + if imgWidth, imgHeight too small, play/pause button in <video> will be hidden
           + Music link are taken from: https://hoangtran0410.github.io/Visualyze-design-your-own-/?theme=HauMaster&playlist=1&song=1&background=28
           + Custom from code in tiktok video  https://www.facebook.com/J2TEAM.ManhTuan/videos/1353367338135935/
    */


    // ===================== start =======================
    setTimeout(init, 100);

    var odrag = document.getElementById('drag-container');
    var ospin = document.getElementById('spin-container');
    var aImg = ospin.getElementsByTagName('img');
    var aVid = ospin.getElementsByTagName('video');
    var aEle = [...aImg, ...aVid]; // combine 2 arrays

    // Size of images
    ospin.style.width = imgWidth + "px";
    ospin.style.height = imgHeight + "px";

    // Size of ground - depend on radius
    var ground = document.getElementById('ground');
    ground.style.width = radius * 3 + "px";
    ground.style.height = radius * 3 + "px";

    function init(delayTime) {
        for (var i = 0; i < aEle.length; i++) {
            aEle[i].style.transform = "rotateY(" + (i * (360 / aEle.length)) + "deg) translateZ(" + radius + "px)";
            aEle[i].style.transition = "transform 1s";
            aEle[i].style.transitionDelay = delayTime || (aEle.length - i) / 4 + "s";
        }
    }

    function applyTranform(obj) {
        // Constrain the angle of camera (between 0 and 180)
        if(tY > 180) tY = 180;
        if(tY < 0) tY = 0;

        // Apply the angle
        obj.style.transform = "rotateX(" + (-tY) + "deg) rotateY(" + (tX) + "deg)";
    }

    function playSpin(yes) {
        ospin.style.animationPlayState = (yes?'running':'paused');
    }

    var sX, sY, nX, nY, desX = 0,
        desY = 0,
        tX = 0,
        tY = 10;

    // auto spin
    if (autoRotate) {
        var animationName = (rotateSpeed > 0 ? 'spin' : 'spinRevert');
        ospin.style.animation = `${animationName} ${Math.abs(rotateSpeed)}s infinite linear`;
    }

    // add background music
    if (bgMusicURL) {
        document.getElementById('music-container').innerHTML += `
<audio src="${bgMusicURL}" ${bgMusicControls? 'controls': ''} autoplay loop>
<p>If you are reading this, it is because your browser does not support the audio element.</p>
</audio>
`;
    }

    // setup events
    document.onpointerdown = function (e) {
        clearInterval(odrag.timer);
        e = e || window.event;
        var sX = e.clientX,
            sY = e.clientY;

        this.onpointermove = function (e) {
            e = e || window.event;
            var nX = e.clientX,
                nY = e.clientY;
            desX = nX - sX;
            desY = nY - sY;
            tX += desX * 0.1;
            tY += desY * 0.1;
            applyTranform(odrag);
            sX = nX;
            sY = nY;
        };

        this.onpointerup = function (e) {
            odrag.timer = setInterval(function () {
                desX *= 0.95;
                desY *= 0.95;
                tX += desX * 0.1;
                tY += desY * 0.1;
                applyTranform(odrag);
                playSpin(false);
                if (Math.abs(desX) < 0.5 && Math.abs(desY) < 0.5) {
                    clearInterval(odrag.timer);
                    playSpin(true);
                }
            }, 17);
            this.onpointermove = this.onpointerup = null;
        };

        return false;
    };

    document.onmousewheel = function(e) {
        e = e || window.event;
        var d = e.wheelDelta / 20 || -e.detail;
        radius += d;
        init(1);
    };

</script>
<script>
    // Get the DOM
    var modal = document.getElementById('image-cover-modal');
    var modalImg = document.getElementById("image-cover-image");
    var captionText = document.getElementById("image-cover-caption");
    var span = document.getElementsByClassName("image-cover-close")[0];

    // When the user clicks on <span> (x), close the modal
    modal.onclick = function() {
        this.classList.remove("model-shown");
    }

    var i;
    for (i = 0; i < document.images.length; i++) {

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.images[i];

        img.onclick = function(){
            modal.classList.add("model-shown");
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }
    }
</script>
</body>
</html>
