<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"name="viewport">
    <meta name="description" content="love验证"/>
    <meta name="keywords" content=" love验证 "/>
    <link rel="stylesheet" href="/css/lovelogin/lovelogin.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <title>love验证</title>
</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">口令</div>
        <div class="panel-body">
            <form id="love_login">

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="8位数 birthday she+me" required maxlength="8" minlength="4">
                </div>

                <button type="submit" class="btn btn-default">Open LOVE</button>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/lovelogin.js"></script>
</body>
</html>
