{{extend './layouts/layout-blog.html'}}

{{block 'title'}}New World{{/block}}
{{block 'style'}}
<link rel="stylesheet" type="text/less" href="/less/Message.less">
<link rel="stylesheet" href="/css/markcss/markfs.css">
<link rel="stylesheet" href="/css/fenye/fenye.css">
<link rel="stylesheet" type="text/css" href="/lib/prism/prism.css">
{{/block}}
{{block 'body'}}
<div id="markfs">
    {{@ doc }}
</div>
<div class="message" id="containet">
    <header class="message-header">精彩评论:</header>
    <ul id="pageMain">
        <% for(var i = message.length -1; i >=0; i--){ %>
        <li>
            <div class="message-left">
                <img src="/images/author.jpg" alt="">
            </div>
            <div class="message-right">
                <header class="message-right-header">
                    <div class="message-nickname">{{message[i].message_nickname}}</div>
                    <div class="message-data">{{message[i].UTCtodata}}</div>
                    <div class="message-right-dianzan">
                        <span class="dianzan-num">999</span>
                        <span class="iconfont">&#xe719;</span>
                    </div>

                </header>
                <article class="message-right-context">
                    <span>{{message[i].message_content}}</span>
                </article>
            </div>
        </li>
        <%}%>
    </ul>
    <!-- 分页按钮 -->
    <div id="pageBox">
        <span id="prev">上一页</span>
        <ul id="pageNav"></ul>
        <span id="next">下一页</span>
    </div>
    <form id="message_form">
        <input type="search" name="message_content" id="send-message" placeholder="分享下你的心得..." required min="2">
        <input type="hidden" name="message_type" value="{{publish.publishMainBodyUrl}}">
        <button type="submit">发送</button>
    </form>

</div>
{{/block}}
{{block 'script'}}
<script src="/js/fenye.js"></script>
<script type="text/javascript" src="/lib/prism/prism.js"></script>
<script>
    $('#message_form').on('submit', function (e) {
        e.preventDefault()
        let formDate = $(this).serialize()
        console.log(formDate)
        $.ajax({
            url: '/message',
            type: 'post',
            data: formDate,
            dataType: 'json',
            success: function (data) {
                let err_code = data.err_code
                if (err_code === 1) {
                    window.location.href = '/login'
                }
                if (err_code === 0) {
                    location.reload();
                }
            }
        })
    })
</script>
{{/block}}
