{{extend'./layouts/layout-blog.html'}}{{block'style'}}
<link rel="stylesheet" href="/less/timeline.less" type="text/less">
<link rel="stylesheet" href="/css/preloader/mainload.css">{{/block}}{{block'title'}}timeline时间轴{{/block}}{{block'body'}}
<div class="load"><img src="http://static.zxinc520.com/blog/20190422/9OkDv42krkS6.gif" alt="">
</div>{{include'./parties/timeline/timelinepart.html'}}{{/block}}{{block'script'}}
<script src="/js/timeline.js"></script>
<script>
    document.addEventListener('DOMContentLoaded',function () {
        $(".load").fadeOut(800);
    })
</script>
{{/block}}
