<div class="blog-header-footer">
    <div class="blog-header-footer-main">
        <header class="blog_bottom_title">
            <span></span>
            <span>文章分类</span>
        </header>
        <footer class="blog_bottom_bottom">
            <ul class="clearFix">

                <% for(var i = 0; i < publish[0].newarr.length ; i++){ %>
                    {{if publish[i].wholepublishIdentifying == "代码"}}
                    <li>
                        <a href="{{publish[0].newarr[i]}}">{{publish[0].newarr[i]}}</a>
                    </li>
                    {{/if}}
                <% } %>
            </ul>
        </footer>
    </div>
</div>
