<div class="blog-header-footer">
    <div class="blog-header-footer-main">
        <header class="blog_bottom_title">
            <span></span>
            <span>文章分类</span>
        </header>
        <footer class="blog_bottom_bottom">
            <ul class="clearFix">
                <li>
                    <a href="">ALL <span>1</span></a>
                </li>
                <li>
                    <a href="">css <span>1</span></a>
                </li>
                <li>
                    <a href="" class="JavaScript">JavaScript<span>1</span></a>
                </li>
                <li>
                    <a href="">vue <span>1</span></a>
                </li>
                <li>
                    <a href="">react <span>1</span></a>
                </li>
                <li>
                    <a href="">小程序 <span>1</span></a>
                </li>
                <li>
                    <a href="">特效 <span>1</span></a>
                </li>
                <li>
                    <a href="">好玩 <span>1</span></a>
                </li>
            </ul>
        </footer>
    </div>
</div>
