<div class="index_list" >
    <h3>感谢您的抬爱！
    <span class="iconfont icon-love" style="color: red !important;"></span></h3>
    <ul>
        <% for(var i = publish.length -1; i >=0; i--){ %>
            {{if publish[i].wholepublishIdentifying == "代码"}}
            <li data-scroll-reveal="enter bottom over 1s">
                <div class="li_img">
                    <img src="{{publish[i].publishImgUrl}}" alt="{{publish[i].wholepublishIdentifying}}">
                </div>
                <div class="list_main">
                    <a href="/{{publish[i]._id}}">
                        <header class="title">{{publish[i].publishTitle}}</header>
                        <div class="intro_article">{{publish[i].publishIntro}}</div>
                        <span class="text-Tag">{{publish[i].publishIdentifying}}</span>
                    </a>
                </div>
                <div class="list_time">
                    <!--<span class="iconfont icon-shijianriqi"></span>-->
                    <span class="list_time_submit">{{publish[i].UTCtodata}}</span>
                </div>
            </li>
            {{/if}}
        <% } %>
    </ul>
</div>

