<nav class="bg-nav">
    <ul>
        <li>
            <a href="">
                <div class="nav-icon">
                    <span class="iconfont icon-iconfonticon-xitong"></span>
                </div>

                <span>所有项目</span>
            </a>
        </li>
        <li>
            <a href="">
                <div class="nav-icon">
                    <span class="iconfont icon-iconfont"></span>
                </div>
                <span>分类</span>
            </a>
        </li>
        <li>
            <a href="">
                <div class="nav-icon">
                    <span class="iconfont icon-iconfonticon-nengha"></span>
                </div>
                <span>时间轴</span>
            </a>
        </li>
        <li>
            <a href="">
                <div class="nav-icon">
                    <span class="iconfont icon-xihuan"></span>
                </div>
                <span>Hobby</span>
            </a>
        </li>
    </ul>
</nav>
