<nav class="bg-nav">
    <ul>
        <li>
            <a href="/category">
                <div class="nav-icon">
                    <span class="iconfont icon-iconfont"></span>
                </div>
                <span>category</span>
            </a>
        </li>
        <li>
            <a href="">
                <div class="nav-icon">
                    <span class="iconfont icon-iconfonticon-nengha"></span>
                </div>
                <span>timeline</span>
            </a>
        </li>
        <li>
            <a href="">
                <div class="nav-icon">
                    <span class="iconfont icon-xihuan"></span>
                </div>
                <span>Hobby</span>
            </a>
        </li>
        <li>
            <a href="">
                <div class="nav-icon">
                    <span class="iconfont">&#xe7ec;</span>
                </div>
                <span>his</span>
            </a>
        </li>
    </ul>
</nav>
