<div class="bg-banner">
    <div class="banner-main">
        <ul class="clearFix">
            <li><a href=""><img src="images/bannera.jpg" alt=""></a></li>
            <li><a href=""><img src="images/bannera.jpg" alt=""></a></li>
            <li><a href=""><img src="images/bannera.jpg" alt=""></a></li>
            <li><a href=""><img src="images/bannera.jpg" alt=""></a></li>
            <li><a href=""><img src="images/bannera.jpg" alt=""></a></li>
            <li><a href=""><img src="images/bannera.jpg" alt=""></a></li>
            <li><a href=""><img src="images/bannera.jpg" alt=""></a></li>
            <li><a href=""><img src="images/bannera.jpg" alt=""></a></li>
            <li><a href=""><img src="images/bannera.jpg" alt=""></a></li>
            <li><a href=""><img src="images/bannera.jpg" alt=""></a></li>
        </ul>
        <ul>
            <li class="now"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

</div>
