<header class="blog-header">
    <div class="blog-header-main">
        <header class="blog_top">
            <a class="icon-left" href="javascript:;">
                <span class="iconfont icon-icon"></span>
            </a>
            <div class="blog_top_center">
                <span>zxinc</span>
            </div>
            <a class="icon-right" href="/">
                <span class="iconfont icon-sousuo"></span>
            </a>
        </header>
        <div class="blog_center">
            <div class="blog_center_context">
                <span>zxinc</span>
            </div>
            <div class="blog_center_intro">
                <span>开源 | 技术 | 生活</span>
            </div>
        </div>
    </div>
    <div class="blog-header-footer">
        <div class="blog-header-footer-main">
            <header class="blog_bottom_title">
                <span></span>
                <span>文章分类</span>
            </header>
            <footer class="blog_bottom_bottom">
                <ul class="clearFix">
                    <li>
                        <a href="">ALL <span>1</span></a>
                    </li>
                    <li>
                        <a href="">css <span>1</span></a>
                    </li>
                    <li>
                        <a href="" class="JavaScript">JavaScript<span>1</span></a>
                    </li>
                    <li>
                        <a href="">vue <span>1</span></a>
                    </li>
                    <li>
                        <a href="">react <span>1</span></a>
                    </li>
                    <li>
                        <a href="">小程序 <span>1</span></a>
                    </li>
                    <li>
                        <a href="">特效 <span>1</span></a>
                    </li>
                    <li>
                        <a href="">好玩 <span>1</span></a>
                    </li>
                </ul>
            </footer>
        </div>
    </div>

</header>

<div style="width: 100%;height: 400px;"></div>
