<header class="topBar">
    <div class="topBar-main">
        <div class="topBar-top">
            <a class="icon-left" href="javascript:;">
                <span class="iconfont icon-icon"></span>
            </a>
            <nav class="icon-middle">
                <a href="javascript:;"><span class="iconfont ">&#xe625;</span></a>
                <a href="javascript:;"><span class="iconfont">&#xe600;</span></a>
            </nav>
            <a class="icon-right" href="/search">
                <span class="iconfont icon-sousuo"></span>
            </a>
            {{if user}}
                {{if user.nickname == "周琛"}}
                <a href="/publish" class="publish">
                    <span>发表</span>
                </a>
                {{/if}}
            <a href="javascript:;" class="username"> <span>{{user.nickname}}</span></a>
            {{else}}
            <a href="/login" class="login">
                <span class="iconfont">&#xe61a;</span>
            </a>

            {{/if}}




        </div>
        <div class="topBar-bottom">
            <a href="javascript:;" class="Recommend_common">推荐</a>
            <a href="javascript:;">动态</a>
            <a href="javascript:;">学校</a>
        </div>
    </div>
</header>
