<header class="topBar">
    <div class="topBar-main">
        <div class="topBar-top">
            <a class="icon-left" href="javascript:;">
                <span class="iconfont icon-icon"></span>
            </a>
            <nav class="icon-middle">
                <a href=""><span class="iconfont icon-wode"></span></a>
                <a href=""><span class="iconfont icon-wode"></span></a>
                <a href=""><span class="iconfont icon-wode"></span></a>
            </nav>
            <a class="icon-right" href="/">
                <span class="iconfont icon-sousuo"></span>
            </a>
        </div>
        <div class="topBar-bottom">
            <a href="" class="Recommend_common">推荐</a>
            <a href="">动态</a>
            <a href="">学校</a>
        </div>
    </div>
</header>
