<div class="index_list">
    <h3>感谢您的抬爱！<span class="iconfont icon-love"></span></h3>
    <ul>
        <li>
             <div class="li_img">
                 <img src="images/a.jpg" alt="">
             </div>
             <div class="list_main">
                 <a href="">
                     <header class="title">这是标题</header>
                     <div class="intro_article">这是主体内容</div>
                 </a>
             </div>
             <div class="list_time">
                 <span>2019/2/19</span>
             </div>
        </li>

        <li>
            <div class="li_img">
                <img src="images/a.jpg" alt="">
            </div>
            <div class="list_main">
                <a href="">
                    <header class="title">这是标题</header>
                    <div class="intro_article">这是主体内容</div>
                </a>
            </div>
            <div class="list_time">
                <span>2019/2/19</span>
            </div>
        </li>

        <li>
            <div class="li_img">
                <img src="images/a.jpg" alt="">
            </div>
            <div class="list_main">
                <a href="">
                    <header class="title">这是标题</header>
                    <div class="intro_article">这是主体内容</div>
                </a>
            </div>
            <div class="list_time">
                <span>2019/2/19</span>
            </div>
        </li>

        <li>
            <div class="li_img">
                <img src="images/a.jpg" alt="">
            </div>
            <div class="list_main">
                <a href="">
                    <header class="title">这是标题</header>
                    <div class="intro_article">这是主体内容</div>
                </a>
            </div>
            <div class="list_time">
                <span>2019/2/19</span>
            </div>
        </li>
    </ul>
</div>
