<header class="topBar">
    <div class="topBar-main">
        <div class="topBar-top">
            <a class="icon-left" href="javascript:;">
                <span class="iconfont icon-icon"></span>
            </a>
            <nav class="icon-middle">
                <a href="javascript:;"><span class="iconfont ">&#xe625;</span></a>
                <a href="javascript:;"><span class="iconfont">&#xe600;</span></a>
            </nav>
            <a class="icon-right" href="/">
                <span class="iconfont icon-sousuo"></span>
            </a>
        </div>
        <div class="topBar-bottom">
            <a href="javascript:;" class="Recommend_common">推荐</a>
            <a href="javascript:;">动态</a>
            <a href="javascript:;">学校</a>
        </div>
    </div>
</header>
