<footer class="public_footer">
    <div class="public_footer_main">
        <header class="footer-intro">
            <ul class="clearFix">
                <li class="address">
                    <i></i>
                    鄂ICP备18030489号
                </li>
                <li class="total_number">
                   <span class="iconfont">&#xe689;</span>
                    站点总字数：40.2k
                </li>

                <li class="totalview">
                    <span class="iconfont">&#xe611;</span>
                    本站总访问量：40.2k
                </li>
                <li class="unique_visitors">
                    <span class="iconfont" >&#xe619;</span>
                    访客数：40.2k
                </li>
            </ul>
        </header>
        <footer class="public_footer_bottom">
            <ul class="clearFix">
                <a href="https://gitee.com/zxinc">
                    <span class="iconfont mayun">&#xe602;</span>
                </a>
                <a href="https://github.com/ZhChen7">
                    <span class="iconfont">&#xe85a;</span>
                </a>
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1583741285&site=qq&menu=yes">
                    <span class="qq"><img border="0" src="http://wpa.qq.com/pa?p=2:1583741285:52" alt="点击这里给我发消息"
                               title="点击这里给我发消息"/></span>
                </a>
            </ul>
        </footer>
    </div>
</footer>
