.blog-header {
  width: 100%;

  .blog-header-main {
    width: 100%;
    height: 380rem/@baseFontSize;
    overflow: hidden;
    position: relative;

    ul {
      width: 100%;

      li {
        width: 100%;
        float: left;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        img {
          display: block;
          width: 100%;
        }
      }
      li:nth-of-type(1){
        display: block;
      }
    }

    .blog_top {
      width: 100%;
      height: 60rem/@baseFontSize;
      position: relative;
      margin-top: 16rem/@baseFontSize;

      a {
        height: 60rem/@baseFontSize;
        width: 72rem/@baseFontSize;
        position: absolute;
        text-align: center;
        line-height: 60rem/@baseFontSize;

        span {
          display: block;
          width: 100%;
          height: 100%;
        }

        &:nth-of-type(1) {
          top: 0;
          left: 0;
        }

        &:nth-of-type(2) {
          top: 0;
          right: 0;
        }
      }

      .blog_top_center {
        width: 100%;
        padding: 0 72rem/@baseFontSize;
        font-size: 24rem/@baseFontSize;
        line-height: 60rem/@baseFontSize;

        span {
          display: block;
          color: #fff;
        }
      }
    }

    .blog_center {
      width: 100%;
      height: 311rem/@baseFontSize;
      padding-top: 11rem/@baseFontSize;
      text-align: center;
      color: #777;
      position: relative;

      .blog_center_context {
        font-size: 78rem/@baseFontSize;
        font-weight: bold;
        letter-spacing: 2rem/@baseFontSize;

        span {
          color: @topBarColor;
          opacity: 0.6;
        }
      }

      .blog_center_intro {
        width: 100%;
        margin-top: 23rem/@baseFontSize;

        span {
          font-size: 16rem/@baseFontSize;
          color: #bbb;
        }
      }
    }

  }
}
