<div class="dynamic">
   <header class="dynamic-header">
       <div class="titile">
          <span class="Recond">记录生活的点点滴滴!</span>
       </div>
   </header>
    <div class="dynamic-body">
        <ul class="clearFix">
            <% for(var i = publish.length -1; i >=0; i--){ %>
                {{if publish[i].wholepublishIdentifying == "心得体会"}}
                <li data-scroll-reveal="enter bottom over 1s">
                    <a href="/{{publish[i]._id}}">
                        <header class="dynamic-body-header">
                            <div class="dynamic-body-header-time">
                                <span class="iconfont">&#xe613;</span>
                                {{publish[i].UTCtodata}}
                            </div>
                        </header>
                        <!--img   276 * 243-->
                        <footer class="dynamic-body-footer">
                            <img src="{{publish[i].publishImgUrl}}" alt="{{publish[i].publishMainBodyUrl}}">
                            <span>{{publish[i].publishIntro}}</span>
                        </footer>
                    </a>
                </li>
                {{/if}}
            <% } %>
        </ul>
    </div>
</div>
