<div class="dynamic">
   <header class="dynamic-header">
       <div class="titile">
          <span>记录生活的点点滴滴!</span>
       </div>
   </header>
    <div class="dynamic-body">
        <ul class="clearFix">
            <li>
                <a href="javascrip:;">
                    <header class="dynamic-body-header">
                        <div class="dynamic-body-header-time">
                            <span class="iconfont">&#xe607;</span>
                            2019/2/28
                        </div>
                    </header>
                    <footer class="dynamic-body-footer">
                        <img src="/images/dt.jpg" alt="">
                    </footer>
                </a>
            </li>

            <li>
                <a href="javascrip:;">
                    <header class="dynamic-body-header">
                        <div class="dynamic-body-header-time">
                            <span class="iconfont">&#xe607;</span>
                            2019/2/28
                        </div>
                    </header>
                    <footer class="dynamic-body-footer">
                        <img src="/images/dt.jpg" alt="">
                    </footer>
                </a>
            </li>
            <li>
                <a href="javascrip:;">
                    <header class="dynamic-body-header">
                        <div class="dynamic-body-header-time">
                            <span class="iconfont">&#xe607;</span>
                            2019/2/28
                        </div>
                    </header>
                    <footer class="dynamic-body-footer">
                        <img src="/images/dt.jpg" alt="">
                    </footer>
                </a>
            </li>
            <li>
                <a href="javascrip:;">
                    <header class="dynamic-body-header">
                        <div class="dynamic-body-header-time">
                            <span class="iconfont">&#xe607;</span>
                            2019/2/28
                        </div>
                    </header>
                    <footer class="dynamic-body-footer">
                        <img src="/images/dt.jpg" alt="">
                    </footer>
                </a>
            </li>
            <li>
                <a href="javascrip:;">
                    <header class="dynamic-body-header">
                        <div class="dynamic-body-header-time">
                            <span class="iconfont">&#xe607;</span>
                            2019/2/28
                        </div>
                    </header>
                    <footer class="dynamic-body-footer">
                        <img src="/images/dt.jpg" alt="">
                    </footer>
                </a>
            </li>
        </ul>
    </div>
</div>
