#markfs {
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: 0.1em;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

/*@media screen and (min-width: 1000px) {*/
    /*body {*/
        /*width: 842px;*/
        /*margin: 10px auto*/
    /*}*/
/*}*/

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-style: bold !important;
    color: #009688 !important;
    margin: 1.5em 5px !important;
    padding: 0.5em 1em !important;
}
h3, h4, h5, h6{
    margin-bottom: -7px !important;
}
h1,h2{
    text-align: center !important;

}
h1 {
    font-size: 24px !important;
    border-bottom: 1px solid #ddd !important;
}

h2 {
    font-size: 20px !important;
    border-bottom: 1px solid #eee !important;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

pre, code {
    font-size: 14px;
    font-family: Roboto, 'Courier New', Consolas, Inconsolata, Courier, monospace;
    margin: auto 5px;
    line-height: 22px;
}

code {
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 2px;

}

pre {
    font-size: 15px;
    line-height: 1.4em;
    display: block; !important;
}

pre code {
    white-space: pre;
    overflow: auto;
    border-radius: 3px;
    padding: 2px 4px;
    display: block !important;
}
strong, b{
    color: #BF360C;
}

em, i {
    color: #009688;
}

hr {
    border: 1px solid #BF360C;
    margin: 1.5em auto;
}
p {
    margin: 7px 16px;
}
table, pre, dl, blockquote, q, ul, ol {
    margin: 10px 5px;
}

dl {
    padding: 0;
}

dl dt {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}

dl dd {
    margin: 0 0 10px;
    padding: 0 10px;
}

blockquote, q {
    border-left: 2px solid #009688;
    padding: 0 10px;
    color: #777;
    quotes: none;
    margin-left: 1em;
}

blockquote::before, blockquote::after, q::before, q::after {
    content: none;
}




ol, ul {
    padding: 0;
    padding-left: 41px;
    margin: 0;
    width: 100%;
}

li {
    line-height: 24px;
    width: 100%;
    word-break:break-all;
}

ol, p, ul {
    font-size: 12px;
    line-height: 24px
}

ol ol, ul ol {
    list-style-type: lower-roman
}

ol>li>p{
    margin-left: 0px !important;
}

ul>li>p{
    margin-left: 5px !important;
}


aside {
    display: block;
    float: right;
    width: 390px
}

blockquote {
    border-left: .5em solid #eee;
    padding: 0 0 0 0;
    margin-left: 0
}

blockquote cite {
    font-size: 14px;
    line-height: 20px;
    color: #bfbfbf
}

blockquote cite:before {
    content: '\2014 \00A0'
}

blockquote p {
    color: #666
}

hr {
    text-align: left;
    color: #999;
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none
}

dl {
    padding: 0
}

dl dt {
    padding: 10px 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 700
}

dl dd {
    padding: 0 16px;
    margin-bottom: 16px
}

dd {
    margin-left: 0
}


table {
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
    font: inherit;
    border: 0;
    margin: 0 auto;
}

tbody {
    margin: 0;
    padding: 0;
    border: 0;
}

table tr {
    border: 0;
    border-top: 1px solid #CCC;
    background-color: white;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n) {
    background-color: #F8F8F8;
}

table tr th, table tr td {
    font-size: 16px;
    border: 1px solid #CCC;
    margin: 0;
    padding: 5px 10px;
    text-align: center;
}


table tr th {
    font-weight: bold;
    color: #eee;
    border: 1px solid #009688;
    background-color: #009688;
}

a{
    text-decoration: none;
    color: #20a0ff;
}

li>ul>li{
    list-style:circle;
}

video{
    width: 100% !important;
}



.videobtn{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 23px;
    right: 40px;
    text-align: center;
    line-height: 30px;
    animation: videobtnMove 15s linear infinite;
}

.videobtn>span{
    color: #c4f5e1 !important;
    font-size: 25px !important;
}

@keyframes videobtnMove {
    from{
        left: 50%;
        top: 100px;
        transform: rotate(180deg);
    }
    40%{
        left: 80%;
        transform: scale(1.5,1.5);
    }
    55%{
        top: -100px;
        left: 50%;
        transform: scale(1,1);
        color: red;!important;
    }
    70%{
        left: 20%;
        transform: scale(1.5,1.5);
    }
    to{
        top: -100px;
        left: 50%;
        transform: rotate(-180deg);
    }
}


@media screen and (min-width: 750px) {
    ol, p, ul {
        font-size: 16px;
        line-height: 30px
    }
    h1 {
        font-size: 28px !important;
        line-height: 36px;
    }
    h2{
        font-size: 24px !important;
        line-height: 32px;
    }
    h3{
        font-size: 22px !important;
        line-height: 30px;
    }
    h4{
        font-size: 20px;
        line-height: 28px;
    }
    #markfs ul{
        margin: 0 0 24px;
        font-size: 16px;
    }
}



.image-cover-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    transition: opacity ease 0.3s;
    pointer-events: none;
}

.model-shown {
    pointer-events: all;
    opacity: 1;
}

.image-cover-modal-content {
    display: block;
    max-width: 80%;
    max-height: 100%;
}

#image-cover-caption {
    display: block;
    position: absolute;
    width: 100%;
    height: 3rem;
    bottom: 0;
    line-height: 3rem;
    text-align: center;
    color: #fff;
    background: rgba(255, 255, 255, 0.33);
}

@media only screen and (max-width: 45rem) {
    .image-cover-modal-content {
        max-width: 100%;
        max-height: 100%;
    }
}

@media screen and (min-width: 750px) {
    .image-cover-modal-content {
        width: 60%;
    }
    h3, h4, h5, h6 {
        margin-bottom: 0px !important;
    }
    h5{
        font-size: 16px ;
    }
    li{
        line-height: 28px;
    }
    pre[class*="language-"] {
        margin: 1em 0px;
    }
}
