<div class="load">
    <div class="cssload-wrap">
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
        <div class="cssload-circle"></div>
    </div>
</div>
