.index_list {
  width: 100%;
  overflow: hidden;
  h3{
    font-size:14px;
    padding-left: 15px;
    padding-top: 20px;
    font-weight: 400;
    span{
      color: black;
    }
  }
  ul {
     width: 100%;
    li{
      width: 100%;
      height: 200px;
      background: red;
      position: relative;
      overflow: hidden;
      margin-top: 15px;
      .li_img{
        width: 240px;
        height: 100%;
        background: gold;
        transform: translateX(-54px) skew(29deg);
        position: absolute;
        left: 0;
        top: 0;
      }
      .list_time{
        width: 297px;
        height: 107px;
        background: greenyellow;
        position: absolute;
        bottom: -45px;
        right: -22px;
        transform: translate(37px,7px) rotate(-20deg);
        span{
          position: absolute;
          top: 7px;
          right: 68px;
          font-size: 18px;
        }
      }
      .list_main{
        width: 100%;
        height: 100%;
        a{
          display: block;
          width: 100%;
          height: 100%;
          background: #fff;
          padding-left: 307px;
          padding-top: 16px;
          header{
              color: black;
          }
          .intro_article{
            margin-left: -27px;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
