@charset "utf-8";
@media (min-width: 320px) {
  html {
    font-size: 60.49149338px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 68.05293006px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 70.88846881px;
  }
}
@media (min-width: 384px) {
  html {
    font-size: 72.58979206px;
  }
}
@media (min-width: 400px) {
  html {
    font-size: 75.61436673px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 78.26086957px;
  }
}
@media (min-width: 434px) {
  html {
    font-size: 82.0415879px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 90.73724008px;
  }
}
@media (min-width: 529px) {
  html {
    font-size: 100px;
  }
}
@media (min-width: 540px) {
  html {
    font-size: 102.07939509px;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 120.98298677px;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 136.10586011px;
  }
}
@media (min-width: 750px) {
  html {
    font-size: 141.77693762px;
  }
}
/*base css*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-size: 24px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
input,
textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
/*common css*/
.f_left {
  float: left;
}
.f_right {
  float: right;
}
.clearFix:before,
.clearFix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
.bg-container {
  width: 100%;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  background: #fff;
}
.iconfont {
  color: #fff !important;
  font-size: 0.27rem !important;
}
.topBar {
  width: 100%;
  height: 1.33rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.topBar .topBar-main {
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 0.36rem;
  width: 100%;
  height: 100%;
  background: #9C27B0;
}
.topBar .topBar-main .topBar-top {
  width: 100%;
  height: 0.41rem;
  position: relative;
}
.topBar .topBar-main .topBar-top .icon-left {
  display: block;
  width: 0.9rem;
  height: 100%;
  text-align: center;
  line-height: 0.41rem;
  position: absolute;
  left: 0;
  top: 0;
}
.topBar .topBar-main .topBar-top .icon-right {
  display: block;
  width: 0.9rem;
  height: 100%;
  text-align: center;
  line-height: 0.41rem;
  position: absolute;
  right: 0;
  top: 0;
}
.topBar .topBar-main .topBar-top .icon-middle {
  width: 100%;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  text-align: center;
  line-height: 0.41rem;
}
.topBar .topBar-main .topBar-top .icon-middle a {
  display: inline-block;
  margin-left: 0.33rem;
}
.topBar .topBar-main .topBar-top .icon-middle a:nth-of-type(1) {
  margin-left: 0;
}
.topBar .topBar-main .topBar-top .login {
  width: 0.9rem;
  height: 100%;
  position: absolute;
  top: -0.02rem;
  right: 0.9rem;
  text-align: center;
  line-height: 0.41rem;
  animation: loginMove 10s 1s linear backwards;
}
.topBar .topBar-main .topBar-top .login span {
  font-size: 0.2rem !important;
}
.topBar .topBar-main .topBar-top .username {
  position: absolute;
  top: 0.04rem;
  right: 0.68rem;
  font-size: 0.14rem;
  width: 1.2rem;
  text-align: center;
  height: 0.3rem;
  line-height: 0.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #ff8287;
  letter-spacing: 0.02rem;
}
.topBar .topBar-main .topBar-top .username span {
  font-size: 14px;
}
.topBar .topBar-main .topBar-top .publish {
  position: absolute;
  top: 0.07rem;
  left: 1.22rem;
  font-size: 0.16rem;
  color: #fff;
  font-weight: bold;
}
.topBar .topBar-main .topBar-bottom {
  width: 100%;
  height: 0.56rem;
  text-align: center;
}
.topBar .topBar-main .topBar-bottom a {
  margin-left: 1.27rem;
  line-height: 0.56rem;
  color: #fff;
  font-size: 0.16rem;
}
.topBar .topBar-main .topBar-bottom a:nth-of-type(1) {
  margin-left: 0rem;
}
.topBar-bottom > .Recommend_common {
  font-weight: bold;
}
.bg-banner {
  width: 100%;
  background: -webkit-linear-gradient(#9C27B0 50%, #fff 50%);
  overflow: hidden;
  padding: 0rem 0.07rem;
}
.bg-banner .banner-main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 6px;
}
.bg-banner .banner-main ul:first-child {
  width: 1000%;
  height: 100%;
  transform: translateX(-10%);
  -webkit-transform: translateX(-10%);
}
.bg-banner .banner-main ul:first-child li {
  width: 10%;
  float: left;
}
.bg-banner .banner-main ul:first-child li a {
  width: 100%;
  display: block;
}
.bg-banner .banner-main ul:first-child li a img {
  width: 100%;
  display: block;
}
.bg-banner .banner-main ul:last-child {
  height: 0.06rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.17rem;
}
.bg-banner .banner-main ul:last-child li {
  height: 0.06rem;
  width: 0.09rem;
  min-width: 0.07rem;
  border-radius: 40%;
  margin-left: 0.15rem;
  float: left;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.5);
  transition: width 0.6s;
}
.bg-banner .banner-main ul:last-child li.now {
  background: #fff;
  width: 0.15rem;
}
.bg-banner .banner-main .introduction {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  background: #ccc;
  opacity: 0.4;
}
.bg-nav {
  width: 100%;
  height: 1.2rem;
  border-bottom: 1px solid #eee;
  background: #fff;
}
.bg-nav ul {
  width: 100%;
  height: 100%;
  display: flex;
}
.bg-nav ul li {
  width: 25%;
  height: 100%;
}
.bg-nav ul li a {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 0.19rem;
}
.bg-nav ul li a .nav-icon {
  width: 0.55rem;
  height: 0.55rem;
  background: #b0425f;
  margin: 0 auto;
  border-radius: 50%;
  text-align: center;
}
.bg-nav ul li a .nav-icon span {
  line-height: 0.55rem;
}
.bg-nav ul li a span {
  display: block;
  font-size: 0.13rem;
  font-weight: 600;
  margin-top: 0.08rem;
  color: #777;
}
.index_list {
  width: 100%;
  overflow: hidden;
}
.index_list h3 {
  font-size: 0.14rem;
  padding-left: 0.15rem;
  padding-top: 0.2rem;
  font-weight: 400;
}
.index_list h3 span {
  color: black;
}
.index_list ul {
  width: 100%;
  padding: 0 0.15rem;
}
.index_list ul li {
  width: 100%;
  height: 2rem;
  position: relative;
  overflow: hidden;
  margin-top: 0.32rem;
  border-radius: 0.1rem;
  box-shadow: 0.05rem 0.05rem 0.05rem 0.02rem #eee;
}
.index_list ul li .li_img {
  width: 2.4rem;
  height: 100%;
  transform: translateX(-0.54rem) skew(29deg);
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.index_list ul li .li_img img {
  transform: translateX(28px) skew(-29deg);
  display: block;
  width: 2.4rem;
}
.index_list ul li .list_time {
  width: 2.97rem;
  height: 1.07rem;
  background: linear-gradient(red, pink, #fff);
  position: absolute;
  bottom: -0.45rem;
  right: -0.53rem;
  transform: translate(0.37rem, 0.07rem) rotate(-20deg);
}
.index_list ul li .list_time span {
  position: absolute;
  top: 0.07rem;
  right: 0.9rem;
  font-size: 0.18rem;
}
.index_list ul li .list_time .icon-shijianriqi {
  right: 1.91rem;
  font-size: 0.16rem !important;
  color: pink !important;
}
.index_list ul li .list_time .list_time_submit {
  font-size: 0.1rem;
  top: 0.1rem;
}
.index_list ul li .list_main {
  width: 100%;
  height: 100%;
}
.index_list ul li .list_main a {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  padding-left: 2.33rem;
  padding-top: 0.16rem;
  text-align: center;
}
.index_list ul li .list_main a header {
  font-size: 0.2rem;
  text-align: center;
  color: transparent;
  background-image: linear-gradient(to right, red, sandybrown, yellow, green, yellow, orange, red, orange, yellow, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: ColorMove 30s infinite linear;
}
.index_list ul li .list_main a .intro_article {
  width: 2.22rem;
  font-size: 0.12rem;
  margin-left: 0.1rem;
  margin-top: 0.18rem;
  margin-bottom: 0.03rem;
  color: #bbb;
}
.index_list ul li .list_main a .text-Tag {
  border: 0.01rem solid pink;
  box-shadow: 0px 1px 4px 4px pink inset;
  font-size: 0.1rem;
  border-radius: 10px;
  padding: 0.02rem 0.07rem;
  color: #110708;
}
.index_list ul li:nth-of-type(1) {
  margin-top: 0.2rem;
}
@keyframes ColorMove {
  0% {
    background-position: -330px 0;
  }
  100% {
    background-position: 0 0;
  }
}
.sidebar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 2s,left 2s;
  z-index: 9999;
  display: none;
}
.sidebar .sidebar-main {
  width: 4rem;
  height: 100%;
}
.sidebar .sidebar-main .sidebar-header {
  width: 100%;
  height: 1.78rem;
  background: url("/images/sideBar_header.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}
.sidebar .sidebar-main .sidebar-header .touxiang {
  width: 2rem;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0);
}
.sidebar .sidebar-main .sidebar-header .touxiang a {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  margin-top: 0.44rem;
  margin-left: 0.15rem;
  animation: author 4s 500ms ease backwards;
}
.sidebar .sidebar-main .sidebar-header .touxiang a img {
  display: block;
  width: 100%;
  border-radius: 50%;
}
.sidebar .sidebar-main .sidebar-header .touxiang p {
  margin: 0.14rem 0.17rem;
  font-size: 0.16rem;
  color: #fff;
  font-weight: bold;
}
.sidebar .sidebar-main .sidebar-header .Click-heart {
  position: absolute;
  bottom: 0.08rem;
  right: 0.2rem;
  display: flex;
}
.sidebar .sidebar-main .sidebar-header .Click-heart .Click-num {
  width: 0.19rem;
  height: 0.24rem;
  font-size: 0.14rem;
  border-radius: 70%;
  text-align: center;
  line-height: 0.24rem;
  background: #000;
  color: #fff;
  font-weight: 700;
  margin: 0.05rem 0.09rem;
}
.sidebar .sidebar-main .sidebar-header .Click-heart .dianzan {
  color: #FE6D33 !important;
}
.sidebar .sidebar-main .sidebar-bottom {
  width: 100%;
  background: url("/images/sideBar_footer.jpg") no-repeat center;
  height: 6.89rem;
  -webkit-background-size: cover;
  background-size: cover;
}
.sidebar .sidebar-main .sidebar-bottom .iconAll {
  width: 100%;
}
.sidebar .sidebar-main .sidebar-bottom .iconAll a {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  float: left;
  margin-left: 0.15rem;
  text-align: center;
  padding-top: 0.05rem;
  border-radius: 50%;
  margin-top: 0.16rem;
}
.sidebar .sidebar-main .sidebar-bottom .iconAll a span:nth-of-type(1) {
  display: block;
  font-size: 0.23rem !important;
}
.sidebar .sidebar-main .sidebar-bottom .iconAll a span:nth-of-type(2) {
  display: block;
  font-size: 0.14rem;
  margin-top: 0.04rem;
  letter-spacing: 0.02rem;
  color: #fff;
}
.sidebar .sidebar-main .sidebar-bottom .iconAll .mayun {
  color: #D81E06 !important;
}
.sidebar .sidebar-main .sidebar-bottom .iconAll .qq {
  display: block;
  margin-top: -0.03rem !important;
}
.sidebar .sidebar-main .sidebar-bottom .Show-img {
  width: 100%;
}
.sidebar .sidebar-main .sidebar-bottom .Show-img .weixin,
.sidebar .sidebar-main .sidebar-bottom .Show-img .Alipay,
.sidebar .sidebar-main .sidebar-bottom .Show-img .cell_phone,
.sidebar .sidebar-main .sidebar-bottom .Show-img .douyin {
  width: 100%;
  display: none;
}
.sidebar .sidebar-main .sidebar-bottom .Show-img .weixin img,
.sidebar .sidebar-main .sidebar-bottom .Show-img .Alipay img,
.sidebar .sidebar-main .sidebar-bottom .Show-img .cell_phone img,
.sidebar .sidebar-main .sidebar-bottom .Show-img .douyin img {
  display: block;
  width: 100%;
}
.sidebar .sidebar-main .sidebar-bottom .Show-img .cell_phone {
  width: 100%;
  text-align: center;
}
.sidebar .sidebar-main .sidebar-bottom .Show-img .cell_phone .callnum {
  display: block;
  width: 100%;
  font-size: 22px;
  letter-spacing: 5px;
  margin-top: 148px;
}
.sidebar .sideBar-right {
  width: 1.29rem;
  height: 100%;
  opacity: 0;
  background: black;
  position: absolute;
  top: 0;
  right: 0;
}
@keyframes author {
  from {
    transform: translate(0, 0) rotateY(0deg);
  }
  25% {
    transform: translate(0.4rem, 0) rotateY(90deg);
  }
  to {
    transform: translate(1.4rem, 0) rotateY(360deg) scale(1.5, 1.5);
  }
}
.main_Navigation {
  margin-top: 1.33rem;
  width: 100%;
  overflow: hidden;
}
.main_Navigation .main_Navigation_nav {
  width: 300%;
  display: flex;
}
.main_Navigation .main_Navigation_nav .Recommend,
.main_Navigation .main_Navigation_nav .Dynamic,
.main_Navigation .main_Navigation_nav .School {
  flex: 1;
  width: 5.29rem;
  overflow: hidden;
}
.main_Navigation .main_Navigation_nav .Dynamic {
  height: 100%;
}
.main_Navigation .main_Navigation_nav .Dynamic h1 {
  font-size: 33px;
  color: black !important;
}
.Rotation {
  width: 100%;
}
.Rotation .School-iframe {
  width: 100%;
}
.Rotation .School-iframe iframe {
  width: 100%;
  height: 3rem;
}
.Rotation .School_Intro {
  width: 100%;
  padding: 0.15rem 0.1rem;
}
.Rotation .School_Intro a {
  width: 100%;
  display: block;
  margin: 0.2rem 0.1rem;
}
.Rotation .School_Intro a img {
  width: 1.2rem;
  display: block;
  float: left;
  margin-right: 0.2rem;
  border-right: 0.01rem solid #eee;
  border-bottom: 0.01rem solid #eee;
  box-shadow: 0.1rem 0.1rem 0.34rem 0.01rem #eee;
}
.Rotation .School_Intro article {
  font-size: 0.14rem;
}
.Rotation .School_Intro article a {
  font-size: 0.18rem;
  color: #136ec2;
}
.Rotation .School_Intro article b {
  color: #136ec2;
  font-size: 0.15rem;
}
.Rotation .School_Intro article span {
  color: red;
  font-size: 0.09rem;
  position: relative;
  top: -0.02rem;
  left: -0.11rem;
}
.dynamic {
  width: 100%;
}
.dynamic .dynamic-header {
  width: 100%;
}
.dynamic .dynamic-header .titile {
  width: 100%;
  height: 100%;
  color: #fe6e7b;
  font-size: 0.18rem;
  letter-spacing: 0.11rem;
  padding-top: 0.52rem;
}
.dynamic .dynamic-header .titile span {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  animation: contextMove 5s ease-in-out forwards;
  animation-play-state: paused;
}
.dynamic .dynamic-body {
  width: 100%;
}
.dynamic .dynamic-body ul {
  width: 100%;
  padding-top: 0.09rem;
  padding-left: 0.39rem;
}
.dynamic .dynamic-body ul li {
  float: left;
  margin-left: 0.57rem;
  margin-top: 0.41rem;
  box-shadow: 5px 5px 5px #666;
  animation: liMove 5s linear infinite;
  animation-play-state: paused;
}
.dynamic .dynamic-body ul li a {
  width: 1.95rem;
  height: 1.95rem;
  display: block;
}
.dynamic .dynamic-body ul li a .dynamic-body-header {
  width: 100%;
}
.dynamic .dynamic-body ul li a .dynamic-body-header .dynamic-body-header-time {
  margin-left: -0.2rem;
  font-size: 0.12rem;
  text-align: center;
  letter-spacing: 0.01rem;
  padding-top: 0.12rem;
}
.dynamic .dynamic-body ul li a .dynamic-body-header .dynamic-body-header-time span {
  font-size: 0.11rem !important;
  color: #b0425f !important;
}
.dynamic .dynamic-body ul li a .dynamic-body-footer {
  position: relative;
  width: 100%;
}
.dynamic .dynamic-body ul li a .dynamic-body-footer img {
  display: block;
  width: 100%;
}
.dynamic .dynamic-body ul li a .dynamic-body-footer span {
  position: absolute;
  top: 0.6rem;
  left: 0;
  z-index: 666;
  font-size: 13px;
  width: 100%;
  text-align: center;
  color: transparent;
  background-image: linear-gradient(to right, #82ffbc, #fe112e, #ff56cb, #ffbebc, yellow, orange, red, orange, yellow, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: ColorMove 30s infinite linear;
}
.dynamic .dynamic-body ul li:nth-of-type(odd) {
  margin-left: 0;
  margin-top: 0.15rem;
}
@keyframes contextMove {
  from {
    width: 0;
    opacity: 0.6;
  }
  30% {
    transform: scale(2, 2) skew(-30deg);
  }
  60% {
    transform: scale(3, 3) skew(30deg);
  }
  to {
    width: 2.78rem;
    opacity: 0.9;
  }
}
@keyframes liMove {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.1, 1.1);
  }
}
@keyframes ColorMove {
  0% {
    background-position: -330px 0;
  }
  100% {
    background-position: 0 0;
  }
}
.public_footer {
  margin-top: 30px;
  width: 100%;
  opacity: 0.8;
  background: rgba(28, 14, 35, 0.8);
}
.public_footer .public_footer_main {
  padding-top: 0.05rem;
  height: 1.25rem;
  width: 3.5rem;
  margin: 0 auto;
  overflow: hidden;
}
.public_footer .public_footer_main .footer-intro {
  width: 100%;
}
.public_footer .public_footer_main .footer-intro ul {
  width: 100%;
}
.public_footer .public_footer_main .footer-intro ul li {
  width: 50%;
  float: left;
  font-size: 0.13rem;
  color: #fff;
  border-left: 0.01rem solid #ccc;
  border-bottom: 0.01rem solid #ccc;
  text-align: center;
  padding: 0.11rem 0rem;
  height: 0.4rem;
}
.public_footer .public_footer_main .footer-intro ul li span {
  font-size: 0.17rem !important;
}
.public_footer .public_footer_main .footer-intro ul li:nth-of-type(odd) {
  border-left: none;
}
.public_footer .public_footer_main .footer-intro ul .address i {
  display: inline-block;
  background: url("/images/icon-police.png") no-repeat;
  width: 0.14rem;
  height: 0.16rem;
  background-size: 80%;
  position: relative;
  top: 0.03rem;
  left: -0.01rem;
}
.public_footer .public_footer_main .footer-intro ul .total_number span {
  font-size: 0.17rem !important;
  color: pink !important;
  position: relative;
  top: 0.01rem;
  left: -0.03rem;
}
.public_footer .public_footer_main .footer-intro ul .totalview span {
  font-size: 0.15rem !important;
}
.public_footer .public_footer_main .footer-intro ul .unique_visitors {
  padding: 0.01rem 0rem;
}
.public_footer .public_footer_main .footer-intro ul .unique_visitors span {
  font-size: 0.29rem !important;
  position: relative;
  top: 0.05rem;
  left: 0.04rem;
}
.public_footer .public_footer_main .public_footer_bottom {
  width: 100%;
}
.public_footer .public_footer_main .public_footer_bottom ul {
  width: 100%;
  text-align: center;
  height: 0.32rem;
  line-height: 0.28rem;
}
.public_footer .public_footer_main .public_footer_bottom ul a {
  padding-left: 0.17rem;
}
.public_footer .public_footer_main .public_footer_bottom ul a span {
  font-size: 0.24rem !important;
}
.public_footer .public_footer_main .public_footer_bottom ul a .qq {
  position: relative;
  top: 0.03rem;
  left: -0.05rem;
  margin-left: 0.05rem;
}
.public_footer .public_footer_main .public_footer_bottom ul a .qq img {
  width: 0.22rem;
}
/*# sourceMappingURL=index.css.map */