.login-form{
    width: 100%;
    margin-top:@topBar-height ;
    height: 393rem/@baseFontSize ;
    background: url("/images/login_bg.jpg") no-repeat;
    padding-top: 35px;
    form{
        width: 100%;
        fieldset{
            width: 100%;
            height: 300rem/@baseFontSize ;
            border: 1rem/@baseFontSize  solid #ddd;
            padding: 32rem/@baseFontSize  50rem/@baseFontSize ;
            position: relative;
            legend{
                font-size: 16rem/@baseFontSize ;
                color: #ccc;
                opacity: 0.6;
            }
            label{
                display: inline-block;
                font-size: 14rem/@baseFontSize ;
                color: #7945aa;
            }
            input{
                width: 100%;
                border-bottom: 1rem/@baseFontSize  solid #ccc;
                height: 30rem/@baseFontSize ;
                font-size: 13rem/@baseFontSize ;
                padding-left: 50rem/@baseFontSize ;
                opacity: 0.3;
                margin: 27px 0;
                color: red;
            }
            input::-webkit-input-placeholder{
                color: #333;
            }
            .register{
                position: absolute;
                top: 0;
                right: 0;
                border: 1px solid black;
                font-size: 14px;
                color: #222;
                a{
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    background: black;
                    color: #fff;
                    text-align: center;
                    line-height: 30px;
                }
            }
        }
    }
}

.public_footer{
    //margin-top: 93rem/@baseFontSize ;
}
