@charset "utf-8";
/*base css*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-size: 24px;
  background: linear-gradient(66deg, #f42322, #ff4645, #ff2fd3, #9C27B0, #ff8dac);
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
input,
textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
/*common css*/
.f_left {
  float: left;
}
.f_right {
  float: right;
}
.clearFix:before,
.clearFix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
.bg-container {
  width: 100%;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  background: #fff;
}
.wrapper {
  padding: 1rem 0.1rem 2rem;
  margin-top: -15px;
  background: linear-gradient(to bottom, #a5d1ff, #6041f4, #ff84e6, #2e6b80, yellow, green);
  width: 100%;
  min-height: 100vh;
  height: 100%;
  font: normal 16px/26px Open Sans Condensed, sans-serif;
  color: #fff;
  box-sizing: border-box;
  overflow: hidden;
}
.wrapper .block {
  z-index: 1;
  position: relative;
}
.wrapper .block:before {
  content: "";
  position: absolute;
  height: calc(100% - 40px);
  width: 1px;
  background-color: #f2f2f2;
  left: 50%;
  margin-top: 90px;
}
.wrapper .block .each-year .title {
  font: bold 42px/52px Open Sans Condensed, sans-serif;
  text-align: center;
  padding: 20px;
  transition: all 0.8s ease-in-out;
}
.wrapper .block .each-year .each-event {
  background-color: #f4f4f4;
  width: calc(50% - 22px);
  color: #777;
  margin: 60px 0px;
  position: relative;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.wrapper .block .each-year .each-event:before {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  left: -28px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 4px 20px -4px rgba(64, 64, 64, 0.8);
}
.wrapper .block .each-year .each-event:nth-child(odd) {
  margin-left: calc(50% + 20px);
}
.wrapper .block .each-year .each-event:nth-child(even):before {
  left: calc(100% + 14px);
}
.each-event > a {
  display: block;
  padding: 0.15rem 0.1rem 0px 0.15rem;
  font-size: 0.16rem;
  position: relative;
}
.each-event > a .each-event-title {
  border-bottom: 0.01rem dotted #ccc;
  text-align: center;
  font-size: 0.18rem;
  color: transparent;
  background-image: linear-gradient(to right, #a5d1ff, #6041f4, #ff84e6, #2e6b80, yellow, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: ColorMove 30s infinite linear;
}
.each-event > a .event-description {
  border-bottom: 1px dotted #ccc;
  font-size: 0.14rem;
  padding: 0.1rem 0.1rem;
  color: #dd7aff;
  text-shadow: -0.04rem -0.04rem 16px pink;
}
.each-event > a .each-event-time {
  font-size: 0.12rem;
  color: #999;
  text-align: right;
  padding: 0.1rem 0.05rem;
}
.each-event > a .each-event-time span {
  color: red !important;
  font-size: 0.14rem !important;
  margin-right: 0.05rem;
}
.title.non-focus {
  font-size: 24px;
  line-height: 34px;
  transition: all 0.8s ease-in-out;
}
.each-event.non-focus {
  color: #d2d2d2;
  background: #e6e6e6;
  margin-top: 90px;
  transform: rotateZ(45deg);
  transition: all 0.8s ease-in-out;
}
.each-event.non-focus:before {
  opacity: 0;
  background-color: #aaa;
}
@keyframes ColorMove {
  0% {
    background-position: -330px 0;
  }
  100% {
    background-position: 0 0;
  }
}
/*# sourceMappingURL=timeline.css.map */